%h1{:align => "center"} Karaoke Detail Search

%div#search_form
  %div.form-group
    %label.sp-hide{:for => "artist"} Artist
    %input#artist.form-control.input-lg{:name => "artist",:placeholder => "Input Artist Name"}
  %div.form-group
    %label.sp-hide{:for => "title"} Song Title
    %input#title.form-control.input-lg{:name => "title",:placeholder => "Input Song Title"}
  %input#search_button.form-control.btn.btn-primary{:name => "search", :type => "submit", :value => "Search"}
%div.col-xs-2

%hr

%div.pagination-holder
  %div#light-pagination.pagination
%div#search_result
%hr
%h3#latest_label{:align => "center"} 最近登録された曲
%div#latest
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.text-center Artist
        %th.text-center Title
    %tbody
    - @karaoke_songs.each do |karaoke|
      %tr
        %td.text-center.sp-thtd  #{karaoke['artist_name']}
        %td.text-center.sp-thtd  #{karaoke['song_title']}

%p#record 登録曲数: #{@record_count}
