%script(src='http://code.jquery.com/jquery-1.11.2.min.js')
%script(src='js/bootstrap.min.js')
%script(src='js/jquery.activity-indicator-1.0.0.min.js')
%script(src='js/jQuery.fontFlex.js')
%script(src='js/jquery.simplePagination.js')
%script(src='js/index.js')
%link(rel='stylesheet' href='css/bootstrap.min.css')
%link(rel='stylesheet' href='css/simplePagination.css')

%html
  %head
    %title< Karaoke Detail Search
  %body
    %div.col-xs-12.col-md-8.col-md-offset-2
      =yield
    %footer.col-xs-12.col-md-8.col-md-offset-2
      Copyright 2015- I.T.